input{
    border: solid 0.5px #212529;
    color: #212529;
    padding: 0 0.2rem;
    border-radius: 2px;
}

input[type='file'] {
    display: none
  }

input:focus{
    border: solid 0.5px #da4080;
}

input:read-only{
    background-color: #dee2e6;
}   

button{
    border: none;
}

input[type=radio]:checked{
  color: #da4080;
} 
option:checked {
  color: red;
}


.container-lg{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto{
    display: block;
    width: auto;
    padding: 1rem;
}


.Home{
    display:flex;
    flex-wrap: wrap;
}

.imgProduto{
    width: 25%;
}

.imgHome{
    width: 200px;
}

.inverter{
    flex-direction: row-reverse;
}

td,th{
    border: 1px solid rgb(190, 190, 190);
    padding: 1rem;
    white-space: nowrap;
}

.containerLista{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.adminArea{
    display: flex;
    justify-content: center;
}

.catProduto{
    display: flex;
    flex-direction: column;
}

.imgTabela{
    height: 25%;
    }


.categoria{
    display:flex;
}

.tabelaCarrinho{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.tabela{
    padding: 2rem;
    margin: 0.5rem 2rem 0 2rem;
}


/* HEADER */

.menuHeader{
    display: flex;
    flex-direction: column;
}


.navbar-brand{
    display: flex;
    
}

.headerBase{
    display: flex;

}

.modal-header{
    align-self: center
}

.selecaoProduto{
    display: flex;
    justify-content: center;
    margin: 1rem 2rem ;
}

#tabelaUsuario{
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
}


/* CADASTRO */
.cadastroProduto{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.cadastroProduto input{
    margin: 0.1rem 0;
}

.cadastro{
    border: solid 0.5px #212529;
    background: #f8f9fa;
    width: 50%;
    padding: 2rem;
}

.cadastro.input{
    margin: 1rem 0;
}

#descricao_produto{
    width: 100%;
    height: 100%;
}

#nome_produto{
    width: 50%;
}

#modelo_banho{
    display:flex;
    align-items: center;
}

#nome_tipo{
    display: flex;
    justify-content: space-between;
}

#codigo_cadastro{
    display: flex;
    flex-direction: row-reverse;
}

#codigo_produto{
    width: 10%;
}

#informacoes{
    display: flex;
}

#estoque_produto{
   width: 10%;
}

#cadastro_usuario{
    display: flex;
    justify-content: center;
}

#finalizadorCad_produto{
    display: flex;
    flex-direction: row-reverse;
}

.input_cadastro{
    margin: 0.5rem 0;
}

.radio_lateral{
    display: flex;
}

.radio_cadastro{
    margin-right: 0.5rem;
}

.preco_input{
    width: 80%;
}

.barra{
    display: flex;
    flex-direction: row-reverse;
}

  
  /* Aparência que terá o seletor de arquivo */
  .btnPrincipal {
    background-color: #da4080;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem;
  }

  .btnPrincipal:hover{
      color: #212529;
  }

.modal-body{
    display: flex;
    justify-content: center;
}

/* PERFIL */

.linha_perfil{
    margin-right: 1rem;
    padding: 0 1rem;
}

.btn_menuPerfil{
    display: flex;
    justify-content: center;
    height: 2rem;
    border: 1px solid #212529;
    align-items: center;
}

.btn_menuPerfil:hover{
    text-decoration: none;
    background-color: #da4080;
    color: #dee2e6
}

#perfil_dados{
    background-color: #dee2e6;
    border: solid 0.5px #212529;
    padding: 1rem;
}

#perfil_menu{
    background-color: #dee2e6;;
}

#perfil_deslogar{
    display: flex;
    flex-direction: row-reverse;
}
 



@media screen and (max-width: 720px){
    .categoria{
        flex-direction: column;
    }
}